@import "variaveis.less";

img {
    border-radius: 50px;
}

body {
    background-color: @cordeFundo;
    color: @cordDosTextos;
}


.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
}
