@import "variaveis.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

//mixins______________________________
.margin-Botton8 {
    margin-bottom: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: @corDeFundo;
    color: @cordDosTextos;
}


.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    //A ordem é importante...efeito cascata do maior para o menor
    @media @breakpointTablet {
        max-width: 80%;
        background-color: yellow;    
    }
    
    @media @breakpointMobile {
        max-width: 70%;
        background-color: black;

    }


}



header {
    padding: 24px;

    .avatar {
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        width: 96px;
        height: 96px;
    }
}


.avatar-bio {
    text-align: center;

    &-name {
        font-size: 16px;
        .margin-Botton8()
    }

    &-sub-title {
        font-size: 14px;
        .margin-Botton8()
    }

    &-bio-description {
        font-size: 12px;
        opacity: 0.7;
    }
}

.social-links {
    
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;

    li {
        list-style: none;

        img {
            &:hover {
                transform: scale(1.1);

            }
        }
    }

}