@import "mapa.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

//mixins______________________________
.margin-Botton8 {
    margin-bottom: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #colors[backgroundColor]; 
    color: #colors[tColor];
}



.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    //A ordem é importante...efeito cascata do maior para o menor
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media @breakpointTablet {
        max-width: 80%;
    
    }
    
    @media @breakpointMobile {
        max-width: 70%;
    

    }


}




li {
    list-style: none;
}

header {
    padding-bottom: 24px;

    .avatar {
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        width: 96px;
        height: 96px;
    }
}


.avatar-bio {
    text-align: center;

    &-name {
        font-size: 16px;
        .margin-Botton8()
    }

    &-sub-title {
        font-size: 14px;
        .margin-Botton8()
    }

    &-bio-description {
        font-size: 12px;
        opacity: 0.7;
    }
}

.social-links {
    
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;

    li {
        list-style: none;

        img {
            transition: all ease .3s;
            &:hover {
                //scala de 110%
                transform: scale(1.1);
            }
        }
    }

}


.projects-list {
    margin-top: 32px;

    &-item {
        a {
            text-decoration: none;
            background-color: #colors[bColor];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            text-align: center;
            color: #colors[tColor];
            font-weight: bold;
            border-radius: 30px;
            border: 2px solid #colors[bColor];
            transition: all ease .5s;

            &:hover {
                color: #colors[buttonColor];
                background-color: transparent;
            }
        }
    }
}